version: '3.8'

services:
  raven-alert:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - .air.toml:/app/.air.toml
    env_file:
      - .env
    container_name: raven-alert-service
    restart: unless-stopped
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
